# Copy this file to .env and fill in your values.
KEEPASS_PATH=
KEEPASS_PASSWORD=
KEEPASS_KEY_FILE=
VAULTWARDEN_URL=https://vault.risk-mermaid.ts.net
VAULTWARDEN_API_KEY=
VAULTWARDEN_ORGANIZATION_NAME=nerdhirn
VAULTWARDEN_ORGANIZATION_ID=
DRY_RUN=true
OUTPUT_DIR=exports
BW_CLI=bw
